img{
   width:200px;
}
h1{
    background:blanchedalmond ;

}

h2{
 background:yellowgreen;
}
a{
    color: blue;
}
p{
    background: skyblue;
    color: brown;
}
ul{
    background: rosybrown;
}

li{
   color:  blanchedalmond
}
